<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue中结合Axios完成天气查询案例</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name" @keyup.delete="shows"> <input type="button" value="搜索" @click="searchCity">
        <br>
        <span v-for="city in hotCitys">
            &nbsp;<a href="" v-text="city" @click.prevent="searchCity2(city)"></a>
        </span>

        <hr>

        <span v-show="isShow">{{ name }}，今天的天气是：{{ msg }}</span>
    </div>

    <!--引入vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!--引入Axios.js-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                hotCitys:["北京", "上海", "广州", "深圳"],
                name:"",
                msg:"",
                isShow:false
            },
            methods: {
                searchCity() {
                    console.log(this.name);
                    let _this = this;       // 在axios外和内的this不是同一个对象，外才是vue的。如果在内调用this，则需要提前保存
                    axios.get("http://localhost:8080/city/find?name=" + this.name).then(function (response) {
                        _this.msg = response.data.msg;
                        console.log(response.data.msg);
                        _this.isShow = true;
                    }).catch(function (err) {
                        console.log(err);
                    })
                },
                searchCity2(name) {
                      this.name = name;
                      this.searchCity(name);    // 函数中调用函数
                },
                shows() {
                    this.isShow = false;
                }
            }
        });
    </script>
</body>
</html>